<%- layout("/layouts/boilderplate.ejs") %>

    <body>
        <h1>create new page </h1>
        <form action="/listings" method="post">
            <input type="text" placeholder="enter title" name="title">
            <br>
            <br>
            <textarea name="description" id="des" cols="30" rows="10" placeholder="enter description"></textarea>
            <br>
            <br>
            <input type="text" placeholder="enter image url" name="image">
            <br>
            <br>
            <input type="number" placeholder="enter price" name="price">
            <br>
            <br>
            <input type="text" placeholder="enter loaction" name="location">
            <br>
            <br>
            <input type="text" placeholder="enter country" name="country">
            <br>
            <br>

            <button>Save</button>
    </body>